# --- Runtime dependencies
streamlit==1.35.0
tensorflow==2.15.0
pillow==9.5.0
numpy
pandas
matplotlib
plotly
seaborn==0.13.2
rich==13.7.1 
streamlit-extras==0.2.5

# --- Additional Utilities
python-dateutil==2.8.2
tqdm==4.66.1
openpyxl==3.1.2

# --- Dev & Testing (comment out for production or move to dev-requirements.txt)
# pytest==7.4.0
# pytest-cov==4.1.0
# pylint==2.17.5
# black==23.9.1
# mypy==1.5.1
# types-Pillow==10.0.0.0
# types-python-dateutil==2.8.19.20240106
